	@model Slider
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Yeni Slayt Ekle</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form enctype="multipart/form-data" asp-action="Update" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                             <input asp-for="@Model.ID" type="hidden">
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name" asp-for="@Model.Slogan">
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="@Model.Slogan" class="form-control ">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name" asp-for="@Model.Title">
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="@Model.Title" class="form-control "><span style="color:red" asp-validation-for="@Model.Title"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name" asp-for="@Model.Description">
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="@Model.Description" class="form-control ">
                                </div>
                            </div>


                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name" asp-for="@Model.Picture">
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="@Model.Picture" accept="image/*" type="file" class="form-control ">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name" asp-for="@Model.Link">
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="@Model.Link" class="form-control ">
                                </div>
                            </div>

                            
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name" asp-for="@Model.Price">
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="@Model.Price" class="form-control ">
                                </div>
                            </div>

                                  
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name" asp-for="@Model.DisplayIndex">
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="@Model.DisplayIndex" class="form-control ">
                                </div>
                            </div>

                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <a class="btn btn-primary" asp-action="Cancel">İptal</a>
                                    <button class="btn btn-primary" type="reset">Temizle</button>
                                    <button type="submit" class="btn btn-success">Güncelle</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- /page content -->