@model IEnumerable<Cart>
<div class="page-top-info">
    <div class="container">
        <h4>Your cart</h4>
        <div class="site-pagination">
            <a href="/">Ana Sayfa</a> /
            <a href="/sepetim">Sepetim</a>
        </div>
    </div>
</div>
<!-- Page info end -->
<!-- cart section end -->
<section class="cart-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="cart-table">
                    <h3>Alışveriş Sepetim</h3>
                    <div class="cart-table-warp">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-th">Ürünler</th>
                                    <th class="quy-th">Miktar</th>
                                    <th class="total-th">Fiyat</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Cart c in Model)
                                {
                                    <tr>
                                        <td class="product-col">
                                            <img src="@c.Picture" alt="">
                                            <div class="pc-title">
                                                <h4>@c.Name</h4>
                                                <p>@c.Price.ToString("#0.00") TL</p>
                                            </div>
                                        </td>
                                        <td class="quy-col">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="@c.Quantity">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="total-col"><h4>@Convert.ToDecimal(c.Price*c.Quantity).ToString("#0.00") TL</h4></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="total-cost">
                        <h6>Total <span>@Model.Sum(s=>s.Price*s.Quantity).ToString("#0.00") TL</span></h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 card-right">
                <a asp-controller="Cart" asp-action="CheckOut" class="site-btn">Alışverişi Tamamla</a>
                <a href="" class="site-btn sb-dark">Alışverişe Devam Et</a>
            </div>
        </div>
    </div>
</section>
<!-- cart section end -->